<h1>Modal</h1>
<hr>
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Titulo Modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Contenido del modal
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-succes" (click)="modal.close">OK</button>
    </div>
</ng-template>

<!--
<button type="button btn btn-outline-danger" (click)="modal.open(contenido)">lanzar modal</button>
-->
<button type="button btn btn-outline-danger" >lanzar modal</button>