<section class="flexin quiensoy col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="avatar">
        <img class="img-fluid" src="/assets/img/avatar.jpg" alt="Martín Andriuolo">
        <a href="#" (click)="saludo()">
            <i class="fa fa-pen iconito"></i>
        </a>
    </div>
    <div class="resumen">
        <h2>Martín Andriuolo</h2>
        <h3>FullStack Developer Jr, Diseñador Gráfico</h3>
        <p>General Rodríguez, Buenos Aires (Argentina)</p>      
        <ul>
            <li><a href=""><i class="fa fa-envelope"></i><p>martinandriuolo@gmail.com</p></a></li>
            <li><a href=""><i class="fa-brands fa-whatsapp"></i><p>+54 9 11 5758 5934</p></a></li>
        </ul>  
    </div>
    <ul class="insignias">
        <li>
            <a href="https://mumuki.io/argentina-programa/certificates/verify/JFfyPDYM1Et8Vw8X" target="_blank">
                <img class="img-fluid" src="/assets/img/argprog.jpg" alt="Argentina Programa">
                <p>Argentina Programa<br>#YoProgramo</p>
            </a>
        </li>
        <li>
            <a href="https://www.freecodecamp.org/certification/emegea/responsive-web-design" target="_blank">
                <img class="img-fluid" src="/assets/img/freecodecamp.jpg" alt="Free Code Camp">
                <p>Responsive<br>Web Design</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img class="img-fluid" src="/assets/img/eal.jpg" alt="Tecnico en Diseño Gráfico">
                <p>Tecnicatura en<br>Diseño Gráfico</p>
            </a>
        </li>
    </ul>
</section><!-- INFO -->

<section class="botonesAbout">
    <button type="button" class="btn btn-primary">Tengo Interés en:</button>
    <button type="button" class="btn btn-light">Añadir Sección</button>
    <button type="button" class="btn btn-light">Más</button>
</section>

<div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="titulo">
        <h2>Quién Soy ?<span>></span></h2>
        <a href="#">
            <i class="fa fa-pen iconito" onclick="showEditProfileModal()"></i>
        </a>
    </div>
    <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nesciunt, nobis odio vero tempora consequuntur incidunt molestias maxime dicta minus odit quae enim nisi atque eos voluptatibus accusamus voluptates magnam.</p>
    </span>
</div>
