.quiensoy { justify-content:space-between; padding:0 0 2% 0; }
.resumen h3, .resumen p { color:#f6f6f6; }
.resumen h2, .resumen h3, .resumen p, .insignias li a {
    text-shadow:0px 0px 2px rgb(0 0 0 / 80%),
    1px 1px 0px rgb(0 0 0 / 50%),
    1px 1px 1px rgb(0 0 0 / 50%),
    1px 1px 2px rgb(0 0 0 / 50%),
    2px 2px 0px rgb(0 0 0 / 50%),
    2px 2px 1px rgb(0 0 0 / 50%),
    2px 2px 2px rgb(0 0 0 / 50%);
}
.resumen ul {
    display:flex;
    justify-content:flex-start;
    padding:5% 0 0 0;
}
.resumen ul li {
    padding:0 5% 0 0;
}
.resumen ul a {
    display:flex;
    align-items:center;
}
.resumen ul a i {
    margin:0 20px 0 0;
}
.avatar {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.avatar img { 
    border-radius:100%;
    box-shadow: 0px 0px 30px 10px rgb(0 0 0 / 80%);
    border:5px solid #C80A64;
    margin:-30% 0 0 0;
    transition:ease-in-out .5s;
}
.avatar img:hover {
    box-shadow: 0px 0px 30px 10px rgb(200 10 100 / 50%);
    border:5px solid #000;
    transition:ease-in-out .5s;
}
.avatar a { margin:-10% 0 0 0; }
.insignias li { 
    margin:0 0 4% 0;
}
.insignias li a { 
    color:#d6d6d6;
    display:flex;
    font-size:14px;
    align-items:center;
}
.insignias li a:hover { 
    color:#C80A64;
}
.insignias li a:hover > img { 
    padding:0;
}
.insignias li a img {
    margin:0 10px 0 0;
    padding:5px;
    height:60px;
}
.insignias li a img:hover {
    box-shadow:0px 0px 15px 5px rgb(0 0 0 / 50%);
}
.card { padding:4%; }
/*
.card div { display:flex; justify-content:space-between; }
*/
.titulo { padding:0 0 2% 0; }
.titulo span { font-size:22px; display:flex; align-items:center; }
.quiensoyContenido ul { justify-content:center; flex-direction:column; }
.quiensoyContenido ul li { display:flex; justify-content:flex-end; margin:0 0 5% 0; }

@media (max-width:480px){
    .quiensoy { flex-direction:column; }
    .avatar { align-items:center; }
    .avatar a { margin-left:auto; }
    .resumen { padding:10% 0; }
    .resumen ul { flex-direction:column; }
    .resumen ul a i { margin:0 10px 0 0; font-size:10px; }
    .insignias li a img { height:50px; }
    .titulo span { font-size:1rem; }
    .quiensoyContenido ul { display:none; }
}