<footer class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="nav">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <p>©2022 - Martín Andriuolo</p>
        </div>
        <section class="socialmedia col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="socialmediaul">
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-github"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-gitlab"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-free-code-camp"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="socialmediali">
                    <a href="#">
                        <i class="logosocial fas fa-envelope"></i>
                    </a>
                </li>
            </ul>    
        </section>
    </nav>    
</footer>
