.proyectos ul li {
    margin:0 0 2% 0;
}

.proyecto {
    padding:0 2% 2% 2%;
}

.proyecto:first-child {
    padding-top:2%;
}
.proyecto article { 
    border-bottom:1px #b6b6b6 solid;
    padding:0 0 2% 0;
}
.proyecto h4 {
    font-size:18px;
}
.imagen { position:relative; }
.proyectosModal { 
    display: none;
    align-items:center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;  
    z-index:-999;
    opacity:0;
}
.proyectoModalOn {
    z-index:9999;
    opacity:100%;
}
.proyectosModal img {
    position:relative;
    width:50%;
    box-shadow:0 0 30px rgba(0,0,0,.4)
}
.mostrarModal { 
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:rgba(200,10,100,0.5);
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mostrarModal:hover{ opacity:100%; }
