<div class="encabezado col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="titulo col-xs-10 col-sm-10 col-md-10 col-lg-11">Experiencia</h2>
    <div class="iconitos col-xs-2 col-sm-2 col-md-2 col-lg-1">
        <a href="#">
            <i class="fa fa-pen iconito" onclick="showEditProfileModal()"></i>
        </a>
        <a href="#">
            <i class="fa fa-plus iconito" onclick="showEditProfileModal()"></i>
        </a>    
    </div>
</div>
<section class="tarjeta col-xs-12 col-sm-12 col-md-12 col-lg-12">
<ul>
<li class="experiencia" *ngFor="let experiencia of experienciasLista">
<article class="flexin col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="flexin col-xs-12 col-sm-11 col-md-11 col-lg-11">
        <img 
            [src]="experiencia.imagen" 
            alt="{{ experiencia.titulo }}" 
            class="agranda expAvatar col-xs-2 col-sm-2 col-md-2 col-lg-2"
        />
        <div>
            <h3>{{ experiencia.titulo }}</h3>
            <p>{{ experiencia.puesto }}</p>
            <h4>{{ experiencia.fecha }}</h4>
            <h4>{{ experiencia.localidad }}</h4>
        </div>
    </div>
    <div class="iconitos col-xs-12 col-sm-1 col-md-1 col-lg-1">
        <a href="#">
            <i class="fa fa-pen iconito" onclick="showEditProfileModal()"></i>
        </a>
        <a href="#">
            <i class="fa fa-trash iconito" onclick="showEditProfileModal()"></i>
        </a>
    </div>
</article>
</ul>