.experiencia ul li {
    margin:0 0 2% 0;
}
.expAvatar {
    height: 100px;
    width:100px;
    margin: 0 10px 0 0;
}
.experiencia {
    padding:0 2% 2% 2%;
}

.experiencia:first-child {
    padding-top:2%;
}
.experiencia article { 
    border-bottom:1px #e9e9e9 solid;
    padding:0 0 2% 0;
}
.experiencia h4 {
    font-size:18px;
}

@media (max-width:480px){
    .experiencia article { display:block;padding: 0 0 5% 0; margin:0 0 5% 0; }
    .experiencia:first-child { padding-top:5%; }
    .experiencia article div { flex-direction:column; }
    .experiencia article div img { display:none; }

}