<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav class="nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <li><img class="logoap img-fluid" src="/assets/img/ap.png" alt=""></li>
        </ul>
        <ul class="menu col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <li><a href="#quiensoy">Quién soy?</a></li>
            <li><a href="#experiencia">Experiencia</a></li>
            <li><a href="#educacion">Educación</a></li>
            <li><a href="#habilidades">Skills</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
        </ul>
        <app-social class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></app-social>
        <form class="formLogin col-xs-12 col-sm-1 col-md-1 col-lg-1">
            <button class="btn btn-outline-success login" type="submit">Login</button>            
        </form>      
    </nav>
    <section class="banner col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="/assets/img/banner.jpg" class="crop img-fluid" alt="">
    </section>

</header>