.banner {
    width:100%;
    height:400px;
    overflow:hidden;
    position:relative;
    z-index: -1;
    border-bottom:2px solid #C80A64;
    box-shadow:0px 0px 20px 10px rgb(0 0 0 / 50%);
  } 
.banner > .crop { 
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
 }
 .nav {
    background-color: #111;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 80%);
    z-index: 999;
    position: fixed;
    padding: 0 2%;
    justify-content:space-between;
}
.menu { display:flex; align-items:center; justify-content:space-evenly; }
.menu a { color:#d6d6d6; }
.menu a:hover { color:#C80A64; }
.logoap {
    width:200px;
}
.formLogin {
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
button.login { 
    border:1px solid #C80A64;
    color:#C80A64;
}
button.login:hover {
    border:1px solid #80063f;
    background:#80063f;
    color:#d6d6d6;
}

@media (max-width:480px){
    .banner { height:300px; }
}